Flask_Migrate==4.1.0
ultralytics==8.3.18
moviepy==1.0.3
Flask_SQLAlchemy==3.1.1
APScheduler==3.11.0
Flask_Admin==1.6.1
Flask==3.0.3
opencv_python==4.10.0.84
Werkzeug==3.0.3
numpy==1.26.4
Flask_Login==0.6.3
alembic==1.13.1
git+https://github.com/idoshr/flask-mongoengine.git@1.0.1#egg=flask-mongoengine
pymongo==4.12.0
authlib==1.5.2